<template>
  <div class="login-container-wrapper">
    <!-- 登录表单容器 -->
    <div class="login-container">
      <div class="title">欢迎登录我的博客管理系统</div>
      <!-- 登录表单 -->
      <div style="margin-top: 20px">
        <a-form size="large" :model="form" @submit="handleSummit" auto-label-width>
          <a-form-item
            hide-asterisk
            field="username"
            label=""
            :rules="{ required: true, message: '请输入用户名' }"
          >
            <a-input v-model="form.username" placeholder="请输入用户名" allow-clear>
              <template #prefix>
                <icon-user />
              </template>
            </a-input>
          </a-form-item>
          <a-form-item
            hide-asterisk
            field="password"
            label=""
            :rules="{ required: true, message: '请输入密码' }"
          >
            <a-input-password v-model="form.password" placeholder="请输入密码" allow-clear>
              <template #prefix>
                <icon-lock />
              </template>
            </a-input-password>
          </a-form-item>
          <a-form-item field="is_member" label="">
            <a-checkbox value="true">记住我</a-checkbox>
          </a-form-item>

          <a-form-item>
            <a-button :loading="LoginLoading" html-type="submit" style="width: 100%">登录</a-button>
          </a-form-item>
        </a-form>
      </div>
    </div>
  </div>
</template>

<script setup>
import { reactive, ref } from 'vue'
import { LOGIN } from '@/api/vblog'

import { useRouter } from 'vue-router'
import app from '@/stores/app'
const router = useRouter()
const LoginLoading = ref(false)
const form = reactive({
  username: '',
  password: '',
  is_member: false
})

const handleSummit = async (data) => {
  if (!data.errors) {
    console.log(data.values)
    // 把这个form表单数据提交给后代API Server
    // http client api call
    // 1. 登录Loading(是不是网络请求中)
    // 1.1 声明1个响应式变量 LoginLoading
    // 1.2 开启请求时 设置为true, 请求结束设置为false
    try {
      LoginLoading.value = true
      const resp = await LOGIN(data.values)
      app.value.token = resp
      router.push({ name: 'BackendLayout' })
    } finally {
      LoginLoading.value = false
    }
  }
}
</script>
<style lang="css" scoped>
.login-container-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #aa4b6b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3b8d99,
    #6b6b83,
    #aa4b6b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3b8d99,
    #6b6b83,
    #aa4b6b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.login-container {
  height: 320px;
  width: 500px;
  padding: 26px;
  border: solid 1px var (--color-neutral-3);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  color: var(--color-neutral-8);
}

.login-container :deep(.arco-form-item-label-col) {
  padding-right: 0px;
}
</style>
