<template>
  <div class="about">
    <h1>Model -> View</h1>
    <br />
    <table border="1">
      <thread>
        <tr>
          <th>姓名</th>
          <th>年龄</th>
          <th>性別</th>
        </tr>
      </thread>
      <tbody>
        <tr>
          <th>{{ person.name }}</th>
          <th>{{ person.age }}</th>
          <th>{{ person.profile.gender }}</th>
        </tr>
      </tbody>
    </table>
    <h1>View -> Model</h1>
    <!-- <div>用户名： <input type="text" v-model="loginReq.username" /></div>
    <div>密码： <input type="password" v-model="loginReq.password" /></div> -->
    <div>用户名： <input type="text" id="username" v-model="username" /></div>
    <div>密码： <input type="password" v-model="password" /></div>
   
     <!---<div v-bind="testId">{{  testId }} }}</div> -->
     <!-- <div :id="testId">{{ testId }}</div> -->
     <!-- <div><button v-on:click="handleClick">按钮</button></div> -->
     <!-- <div><button>按钮</button></div> -->

    <!-- <div id="test">{{ testId }}</div> -->
    <!-- <div v-bind:id="testId"></div> -->
    <div :id="testId"></div>

    <!-- <div><button v-on:click="handleClick">按钮</button></div> -->
    <div><button v-on:click="handleClick">按钮</button></div>
    <!-- CSSStyleDeclaration -->
    <!-- <button :style="buttonClass" @click="handleClick">按鈕</button> -->
    <button :style="buttonStyle" @click="handleClick">按鈕</button>
    <!-- <div style="height: 40px; width:100vw;" :class="buttonClass"></div> -->
    <!-- <div style="height: 40px; width:100vw;" :class="divClass"></div> -->
    <div style="height: 40px; width:40px; background-color: bisque;" :class="divClass"></div>

    <!-- <input v-model="name" type="text" @keyup.enter="pressEnter"> -->
    <input v-model="name" v-focus type="text" @keyup.enter="pressEnter">


    <label for="pet-select">Choose a pet:</label>
    <select v-model="choiceValue" name="pets" id="pet-select">
      <!-- <option value="">--Please choose an option--</option>
      <option value="dog">Dog</option>
      <option value="cat">Cat</option>
      <option value="hamster">Hamster</option>
      <option value="parrot">Parrot</option>
      <option value="goldfish">Goldfish</option> -->
      <option v-for="(item) in petOptions" :key="item.value" :value="item.value">{{ item.label }}</option>
    </select>

    <div v-if="choiceValue === 'dog'">Dog Food</div>
    <div v-else-if="choiceValue === 'cat'">Cat Food</div>
    <div v-else>Others Food</div>


    <!-- <TestComponent :title="choiceValue"></TestComponent> -->
    <!-- <TestComponent :title="choiceValue" @selectChanged="v => console.log('selectChanged', v)"></TestComponent> -->
    <!-- <TestComponent :title="choiceValue" @selectChanged="v => console.log('selectChanged', v)" :count="initCount" @update:count="v => initCount=v"></TestComponent> -->
    <!-- <TestComponent :title="choiceValue" @selectChanged="v => console.log('selectChanged', v)" v-model="initCount"></TestComponent> -->
     <!-- 属性 count, 事件 update:count -->
    <TestComponent :title="choiceValue" @selectChanged="v => console.log('selectChanged', v)" v-model:count="initCount"></TestComponent>






      <!-- ref 类型的变量, vue模版系统会自动解开，testId.value提取出来，不需要 testId.value -->
     <!-- <div v-bind:id="testId">{{ testId }}</div> -->
<!--      
     <div style="color: red"><button v-on:click="handleClick">按钮</button></div>
     <button :style="buttonStyle" @click="handleClick">按钮</button>
     <div style="height: 40px; width: 40vw; background-color: bisque;" :class="divClass"></div>
      表单绑定，用户输入绑定
       v-model(双向绑定): input value -- name -- input value
      <input v-model="name" v-focus type="text" @keydown.enter="pressEnter">
  
      <label for="pet-select">Choose a pet:</label>
  
      <select v-model="choiceValue" name="pets" id="pet-select">
        <option value="">--Please Choose</option>
        <option value="dog">Dog</option>
        <option value="cat">Cat</option>
        <option value="hamster">Hamster</option>
        <option value="parrot">Parrot</option>
        <option value="spider">Spider</option>
        <option value="goldfish">Goldfish</option> 
        <option v-for="(item, index) in petOptions" :key="item.value" :value="item.value"></option>
      </select>
      <div v-if="choiceValue === 'dog'">dog food</div>"
    -->
      </div>
</template>
<script setup>
// import { shallowReactive, onBeforeMount, onMounted, onUpdated, onUnmounted, ref } from 'vue' 
import { 
  reactive, 
  onBeforeMount, 
  onMounted,
  onBeforeUpdate, 
  onUpdated,
  onBeforeUnmount, 
  onUnmounted, ref,
  nextTick,
} from 'vue' 
const person = reactive({ name: '张山', age: 3000, profile: { gender: 'male' } })



// const test='TEST'
const testId='Test'

const initCount = ref(0)

// const buttonClass = reactive({
const buttonStyle = reactive({
  backgroundColor: "grey"

})
const pressEnter = () => {
  console.log('Press Enter')
}

const vFocus = {
  mounted: (el) => {
    el.focus()
  }
}
const choiceValue = ref('')

/* <option value="">--Please choose an option--</option>
      <option value="dog">Dog</option>
      <option value="cat">Cat</option>
      <option value="hamster">Hamster</option>
      <option value="parrot">Parrot</option>
      <option value="goldfish">Goldfish</option> */

const petOptions = reactive([
  {label: '--Please choose an option--', value:''},
  {label: 'Dog', value: 'dog'},
  {label: 'Cat', value: 'cat'},
  {label: 'Hamster', value: 'hamster'},
  {label: 'Parrot', value: 'parrot'},
  {label: 'Goldfish', value: 'goldfish'}
])


// const buttonClass = reactive([])
const divClass = reactive([])

const handleClick = () => {

  console.log('onClick event')
  buttonStyle.backgroundColor="yellow"
  divClass.push('bg')
}





// const testId = ref('testId')


// 已从 main.js 中 ./components/TestComponent.vue中导入, 可以注解掉下面这一行
// import TestComponent from '../components/TestComponent.vue';





// const testId = ref('test')
// const buttonClass = reactive({ backgroundColor: 'grey' })
// const handleClick = () => {
//   console.log('handleClick')
//   buttonStyle.backgroundColor = 'yellow'

// }
// const person = shallowReactive({ name: '张山', age: 3000, profile: { gender: 'male' } })
// const loginReq = reactive({ username: '', password: '' })
const username = ref('init')
const password = ref('')

// username.value = 'test'

// const pressEnter = () => {
//   console.log('Press Enter')
// }
// const vFocus = {
//   mounted
// }

// const choiceValue = ref('')

// petOptions = reactive([{ label: '--Please choose an option--', value:''},
//  {label: 'dog', value: 'dog'},
//  {label: 'cat', value: 'cat'}, 
//  {label: 'hamster', value:'hamster'}
// ])

const name = ref('')
onBeforeMount(() => {
  console.log('onBeforeMount hook')
})

onMounted(() => {
  console.log('onMounted hook')
  username.value = 'test01'

  nextTick(() => {
    console.log(document.getElementById('username').value)
  })
})
onBeforeUpdate(() => {
  console.log('onBeforeUpdate hook')
})



onUpdated(() => {
  console.log('onUpdated hook')
})

onBeforeUnmount(() => {
  console.log('onBeforeUnmount hook')
})  
onUnmounted(() => {
  console.log('onUnmounted hook')
})
</script>
<!-- <style lang="scss" scoped></style> -->
<style>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    /* add  */
    flex-direction: column;
    align-items: center;
  }
}
.bg {
  /* font-size: 20px; */
  background-color: aqua !important;
}
</style>
