<template>
    <!-- <h1 @click="handleClick">{{ title }}</h1> -->
    <h1 @click="handleClick">{{ innerTitle }}</h1>
    <!-- <button @click="count++">You clicked me {{ count }} times.</button> -->
     <input type="text" v-model="innerTitle">
   

    <select v-model="choiceValue" name="pets" id="pet-select">
      <option v-for="(item) in petOptions" :key="item.value" :value="item.value">{{ item.label }}</option>
    </select>
    <br>
    <!-- 双向绑定 -->
    <!-- <button @click="count++">You clicked me {{ count }} times.</button> -->
    <!-- <button @click="$emit('update:count',count+1)">You clicked me {{ count }} times.</button> -->
    <!-- <button @click="$emit('update:modelValue',modelValue+1)">You clicked me {{ modelValue }} times.</button> -->
    <button @click="$emit('update:count',count+1)">You clicked me {{ count }} times.</button>
    <!-- 双向绑定 -->
    <!-- 父组件 -props-- 子组件 -emit- 父组件 -->

</template>

<script setup>
import { watch } from "vue";
import { ref,reactive } from "vue";

// Macro
// defineProps({
//     title: {
//         type: String,
//         required: true,
//     },         
// })
// const props = defineProps({
//     title: {
//         type: String,
//         required: true,
//     },
//     count: {
//         type: Number,
//         default: 0,
    
//     }         
// })
// const props = defineProps({
//     title: {
//         type: String,
//         required: true,
//     },
//     modelValue: {
//         type: Number,
//         default: 0,
    
//     }            
// })
const props = defineProps({
    title: {
        type: String,
        required: true,
    },
    count: {
        type: Number,
        default: 0,
    
    }            
})

const innerTitle = ref(props.title);

// const count = ref(0);

const handleClick = (e) => {
    console.log(e);
    
}



const choiceValue = ref('');

const petOptions = reactive([
    { label: '--Please choose an option--', value:'' },
    { label: 'Dog', value: 'dog' },
    { label: 'Cat', value: 'cat' },
    { label: 'Hamster', value: 'hamster' },
    { label: 'Parrot', value: 'parrot' },
    { label: 'Goldfish', value: 'goldfish' }
])
// const emit = defineEmits(['selectChanged'])
// const emit = defineEmits(['selectChanged','update:count'])
// const emit = defineEmits(['selectChanged','update:modelValue'])
const emit = defineEmits(['selectChanged','update:count'])
// watch(choiceValue, (newValue, oldValue) => {
watch(choiceValue, (newValue) => {
    // console.log(newValue, oldValue);
    emit('selectChanged', newValue);
})

</script>

<style scoped></style>

