<template>
  <!-- 页头 -->
  <div>
    <a-breadcrumb style="margin-bottom: 12px">
      <a-breadcrumb-item>文章管理</a-breadcrumb-item>
      <a-breadcrumb-item>文章列表</a-breadcrumb-item>
    </a-breadcrumb>
    <!-- 数据创建和筛选 -->
    <div class="table-line">
      <div class="table-op">
        <a-button type="primary" @click="$router.push({ name: 'BackendBlogEdit ' })">
          <template #icon><icon-plus /></template>
          创建文章
        </a-button>
      </div>
      <div class="table-filter">
        <a-input-search
          class="kw-search"
          @search="handleSearch"
          placeholder="请输入搜索关键字"
          search-button
        />
      </div>
    </div>
    <!-- 文章數據展示 -->
    <a-table
      :loading="listBlogLoading"
      :data="data.item"
      :paginatiion="paginatiion"
      @page-change="handlePageChange"
      @page-size-change="handlePageSizeChange"
    >
      <template #columns>
        <a-table-column title="编号" data-index="id"></a-table-column>
        <a-table-column title="创建时间">
          <template #cell="{ record }">
            {{ dayjs.unix(record.created_at).format('YYYY-MM-DD HH:mm:ss') }}
          </template>
        </a-table-column>

        <a-table-column title="作者" data-index="author"></a-table-column>
        <a-table-column title="标题" data-index="title"></a-table-column>
        <a-table-column title="状态" data-index="status">
          <template #cell="{ record }">
            {{ STATUS_MAP[record.status] }}
          </template>
        </a-table-column>
        <a-table-column :width="300" align="center" title="操作">
          <template #cell="{ record }">
            <a-button
              type="text"
              @click="$router.push({ name: 'BackendBlogEidt', query: { id: record.id } })"
            >
              编辑
            </a-button>

            <a-button type="text"> 发布 </a-button>

            <a-popconfirm
              :content="'是否确认删除 【${record.title}】这篇文章?'"
              type="warning"
              :ok-loading="deleteLoading"
              @ok="handleDelete(record)"
            >
              <a-button type="text" status="danger"> 删除 </a-button>
            </a-popconfirm>
          </template>
        </a-table-column>
      </template>
    </a-table>
  </div>
</template>

<script setup>
import { onMounted, reactive, ref } from 'vue'
import { LIST_BLOG, DELETE_BLOG } from '@/api/vblog'
import dayjs from 'dayjs'
import { Notification } from '@arco-design/web-vue'
const data = ref({ total: 0, items: [] })
const listBlogLoading = ref(false)
const ListBlog = async () => {
  try {
    listBlogLoading.value = true
    data.value = await LIST_BLOG({
      keywords: params.value.keywords,
      page_size: paginatiion.pageSize,
      page_number: paginatiion.current
    })
    paginatiion.total = data.value.total
  } finally {
    listBlogLoading.value = false
  }
}

onMounted(() => {
  ListBlog()
})
//刪除
const deleteLoading = ref(false)
const handleDelete = async (v) => {
  try {
    deleteLoading.value = true
    await DELETE_BLOG(v.id)
    Notification.info('文章【${v.title}】删除成功')
    ListBlog()
  } finally {
    deleteLoading.value = false
  }
}
const STATUS_MAP = {
  0: '草稿',
  1: '已发布'
}

const params = ref({
  keyword: ''
})

const handleSearch = (v) => {
  params.value.keywords = v
  ListBlog()
}
//分頁

const paginatiion = reactive({
  total: data.value.total,
  showTotal: true,
  showJumper: true,
  shoMore: true,
  showPageSize: true,
  current: 1,
  pageSize: 10
})

const handlePageChange = (v) => {
  paginatiion.current = v
  ListBlog()
}
const handlePageSizeChange = (v) => {
  paginatiion.pageSize = v
  ListBlog()
}
</script>

<style lang="css" scoped>
.table-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}
.kw-search {
  width: 400px;
}
</style>
